<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>403</title>
<link rel="stylesheet" href="/css/ModoBlanco.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<h1 class="py-3" style="text-align: center;">No estas autorizado para entrar en esta pagina</h1>
<div style="
display: flex;
justify-content: center;">
    <a th:href="@{/index}"><button class="btn btn-primary " >Principal</button> </a>

</div>

</body>
</html>